<AuthorizeView>
    <Authorized>
        <MudMenu Class="UserMenu" Label="@("Hello,"+ @context.User.Identity?.Name)">
            <MudMenuItem Href="/ManageProfile" Icon="@Icons.Material.Filled.AccountCircle">
                Manage profile
            </MudMenuItem>
            <MudMenuItem>
                <MudButton Href="Identity/Account/Manage" StartIcon="@Icons.Material.Filled.AccountCircle">Manage account</MudButton>
            </MudMenuItem>
            <MudMenuItem>
                <form method="post" action="Identity/Account/Logout">
                    <MudButton Style="color:black" Color="Color.Dark" ButtonType="ButtonType.Submit" FullWidth="true" StartIcon="@Icons.Material.Filled.Logout">Log out</MudButton>
                </form>
            </MudMenuItem>
        </MudMenu>


    </Authorized>
    <NotAuthorized>
        <MudButton Href="Identity/Account/Login" Variant="Variant.Text" Style="color:white" StartIcon="@Icons.Material.Filled.Login">Login</MudButton>
        <MudButton Href="Identity/Account/Register" Variant="Variant.Text" Style="color:white" StartIcon="@Icons.Material.Filled.AccountCircle">Register</MudButton>
    </NotAuthorized>
</AuthorizeView>
